*.lst
*.o
*.d
*.crf
*.lnp
*.axf
*.htm
*.build_log.htm
*.dep
*.iex
*.i
*.map

#Keil Project screen layout file
*.uvguix.*
*.uvgui.*

#JLINK file
JLinkLog.txt


obj/
build/
/Libraries\CMSIS/DSP